@charset "UTF-8";

/* 回答はここに書いてね */
/* .clearfix:after {
  display: block;
  content: "";
  clear: both;
} */

.q2__content {
  width: 900px;
  background-color: #eff3f4;;
  margin: 0 auto;
  padding: 20px;
  }

  .q2__content__text {
    word-break: break-all;
    font-size: 18px;
    line-height: 22px;
  }

  .right{
    margin-right:20px;
    float:left;
    margin-bottom: 10px;
  }

  .left{
    margin-left: 20px;
    float:right;
    margin-bottom: 10px;
  }


  
/* 回答はここに書いてね */
