@charset "UTF-8";

/* 回答はここに書いてね */

.q7--float .q7__box:first-child {
  margin-left: 0;
}


.float:after {
  display: block;
  content: "";
  clear: both;
}

.q7--table 
.q7__box {
  display: table-cell;
  padding-left: 50px;
  vertical-align: middle;
}


.q7--float
.q7__box{
  float: left;
  margin-left: 50px;
  font-size: 16px;
  box-sizing: border-box;
}

.q7--table 
.q7__box__text{
  font-size: 16px;
}
.q7__box{
  width: 225px;
}

.q7--inlineblock 
.q7__box:first-child {
  margin-left: 0;
}

.q7--inlineblock .q7__box {
  display: inline-block;
  margin-left: 50px;
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}



.inlineblock__inner{
  font-size: 0;
}

.q7--flex .q7__inner {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.q7--flex .q7__box {
  font-size: 16px;
  vertical-align: middle;
  box-sizing: border-box;
}

.text__right{
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

.text__left{
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

.q7--table
.q7__box:first-child {
  padding-left: 0;
}

.q7--margin 
.q7__inner {
  font-size: 0;
}

.q7--margin .q7__box {
  vertical-align: top;
}

.q7--margin .q7__box__text {
  font-size: 16px;
}
/* 回答はここに書いてね */
