@charset "UTF-8";

/* 回答はここに書いてね */
.q3__content{
  width: 100%;
  border: 1px solid #dedede;
  table-layout: fixed;
}

.q3__content th,
.q3__content td{
  border: solid;
  border-color:#dedede;
  border-width: 1px;
  padding: 10px;
} 

.q3__content td{
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.q3__content th{
  background: #2244aa; 
  font-size: 18px;
  line-height: 26px;
  color: #FFF;
}

.q3__content > tbody > tr:nth-child(even) {
  background-color: #ECF1F2;
}

.q3__content > tbody > tr:last-child {
  border-top: 2px dashed #000;
}
/* 回答はここに書いてね */
